<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated fsm09 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fsm09.presentation.Fsm09ModelWizardID"
            name="%_UI_Fsm09ModelWizard_label"
            class="fsm09.presentation.Fsm09ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Fsm09ModelFile.gif">
         <description>%_UI_Fsm09ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated fsm09 -->
      <editor
            id="fsm09.presentation.Fsm09EditorID"
            name="%_UI_Fsm09Editor_label"
            icon="icons/full/obj16/Fsm09ModelFile.gif"
            extensions="fsm09"
            class="fsm09.presentation.Fsm09Editor"
            contributorClass="fsm09.presentation.Fsm09ActionBarContributor">
      </editor>
   </extension>

</plugin>
